extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  include ../common/menu
  +hamburger('hamburger--menu')
  
  section.hero.parallax-bg
    .hero__top
      .hero__links
        +socials('header')
      .hero__menu

    .hero__title.hero__title--about
      .hero__title-svg-container.hero__title-svg-container--about
        include ../common/hero_title_svg

      .hero__user.hero__user--about
        include ../common/user

    #down-btn-container
      anchor-button(
        classes="down-btn hero__down-btn hero__down-btn--about"
        scrollToElem="about"
      )

    .hero__triangle
      svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 98" preserveaspectratio="none")
        polygon(points="0,0 0,98 500.8,98 500.8,88.5").triangle__left.triangle__left_beige
        polygon(points="1000,0 1000,98 500,98 500,88.5").triangle__right.triangle__right_brown

  section.about#about
    .about__split
      .about__left
        .about__left-wrapper
          .about__left-title
            +header-svg('--about', '#1057d1')
            h1.block-title.about__left-block-title Обо мне
          .about__left-content
            .user-description.about__user-description
              .user-description__image
                +image("me-big.jpg", "Мое фото", "user-description__avatar")
              .user-description__data
                .user-description__title
                  h2.block-subtitle.block-subtitle--about-left Кто я
                .user-description__text.text-content
                  p Я веб разработчик из Курска. Мне 26 лет. Я занимаюсь разработкой современных сайтов и приложений. Опыт в разработке 3,5 года. Мне нравить делать интерестные и современные проекты.
                  p Этот сайт я сделал в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите как тут все классно и красиво!

      .about__right
        .about__right-title
          h2.block-subtitle.block-subtitle--about-right Чем я могу быть #[span.block-subtitle__sub-text вам полезен]
        .about__right-description.text-content
          p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__right-content
          #skills-container
    
  section.map
    .map__data
      .contacts
        .contacts__title
          h2.block-subtitle.block-subtitle--map-contacts Контакты
        address.contacts__data
          ul.contacts__list
            -
              var contacts = [
                ['skype_n', 'kirillbizukov'],
                ['phone_n', '+7 951 318 08 89'],
                ['envelope_n', 'kirillbizukov@gmail.com'],
                ['map_n', 'Курск']
              ]
            each item in contacts
              li.contacts__item.contacts-row
                .contacts-row.contacts__icon
                  +icon(`${item[0]}`, 'contacts__icon-img')
                .contacts-row.contacts__description #{item[1]}

    .google-map

  .about__footer--over
    include ../common/footer