extends ../auth.layout.pug

block content
  .auth-block
    button.auth-button Авторизоваться
    //- .auth-block__content
    //-   .auth-block__user
    //-     .user
    //-       .user__pic
    //-         img.user__pic-img

  .welcome-wrapper
    .welcome
      include ../common/user

      .welcome__socials
        include ../common/socials

      nav.bottom-nav
        ul.bottom-nav__list
          li.bottom-nav__item.bottom-nav__item--works
            a(class="bottom-nav__link" href="works.html") Мои работы
          li.bottom-nav__item.bottom-nav__item--about
            a(class="bottom-nav__link" href="about.html") Обо мне
          li.bottom-nav__item.bottom-nav__item--blog
            a(class="bottom-nav__link" href="blog.html") Блог