script(type="text/x-template")#background
  .background
    .background__layer
    //-   +image("mountains-bg.png", "Горы", "background__img")
    video(class="background__video" src="assets/images/night.mp4" autoplay muted loop)