script(type="text/x-template")#skills-list
  ul.skills-list
    li.skills-list__item
      skills-group(
        v-for="type in types"
        :key="type.id"
        :skills="skills",
        :type="type"
      )


script(type="text/x-template")#skills-group
  .skills-row
    h3.skills-row__title {{type.name}}
    ul.skills-row__list
      skill(
        v-for="skill in skills"
        v-if="skill.category === type.id"
        :key="skill.id"
        :skill="skill"
      )

script(type="text/x-template")#skill
  li.skills-row__item
    figure.skill(:data-percents="skill.percents")
      svg(viewBox="0 0 100 100" preserveAspectRation="none").skill__figure
        circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
        circle(cx="50" cy="50" r="40" ref="color-circle").skill__circle.skill__circle_above
      span.skill__title {{skill.title}}
        