footer.footer
    .footer__top
      .footer__col
        .footer__text.footer__description
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
      
      .footer__divider

      .footer__col
        .footer__row
          +menu('menu--footer')

          .footer__row
            //- -
            //-   var socials = [
            //-     ['vk', 'http://vk.com'],
            //-     ['gh', 'http://gh.com'],
            //-     ['in', 'http://in.com']
            //-   ]
            //- +socials(socials, 'socials_round')
            .footer__socials
              include ../common/socials

      .footer__divider
          
      .footer__col
        .footer-contacts
          address.footer-contacts__data
            ul.footer-contacts__list
              -
                var contacts = [
                  'kirillbizukov',
                  'kirillbizukov@gmail.com',
                  '+7 951 318 08 89',
                  'Курск'
                ]
              each item in contacts
                li.footer-contacts__item.footer__text #{item}

    
    .footer__bottom
      .footer__row
        h2.footer__text &copy; Кирилл Бизюков | создано с любовью в LoftSchool | 2018