.fullscreen-menu-bg
  .left
  .right

.fullscreen-menu
  nav.nav.fullscreen-nav
      ul.fullscreen-menu__list
        -
          var menu = [
            ['works.html', 'Мои работы'],
            ['about.html', "Обо мне"],
            ['blog.html', "Блог"],
            ['/', "Авторизация"]
          ]
        each item in menu
            li.fullscreen-menu__item
              a.fullscreen-menu__link(href=`${item[0]}`) #{item[1]}