include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
      
    block content
    
    .background
      +image("mountains-bg.png", "Горы", "background__img")
      video(class="background__video" src="assets/images/night.mp4" autoplay muted loop)

    include ./common/auth_footer

    script(src="./bootloader.bundle.js")
    script(src="./auth.bundle.js")
    block scripts