body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
}

button {
  border: 0;
  cursor: pointer;

  &:visited, &:focus, &:active {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.intext-link {
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

h1.block-title {
  font-family: 'Sansus Webissimo';
  text-align: center;
  padding: 70px 0;
  font-size: 63px;
  text-transform: uppercase;
}

h2.block-subtitle {
  font-family: 'Sansus Webissimo';
  text-align: center;
  padding-bottom: 25px;
  font-size: 35px; 
  position: relative;
  z-index : 1;
  text-transform: uppercase;

  &--article {
    text-align: left;
    top: -14px;
    padding-bottom: 0;
    text-transform: none;
  }

  &:not(.block-subtitle--article) {
    &:after {
      content : "";
      display: block;
      margin: 0 auto;
      padding-top: 15px; 
      height: 3px;
      width: 89px; 
      border-bottom: 3px solid #98999c;
    }
  }
}