@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'sansus-webissimo';
  src: url('/assets/fonts/sansus-webissimo-regular.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}