@mixin roboto-light {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
}
@mixin roboto-medium {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 500;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

@mixin mobiles {
  @media screen and (min-width: $mobile-width) /* and (max-width: $tablets-width-max) */ {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets-width) and (max-width: 1199px) {
    @content;
  }
}

@mixin from-tablets {
  @media screen and (min-width: $tablets-width) {
    @content;
  }
}

@mixin slider-tablets {
  @media screen and (min-width: 321px) and (max-width: $tablets-width) {
    @content;
  }
}

@mixin tablets-max {
  @media screen and (max-width: $tablets-width-max) {
    @content;
  }
}

@mixin laptops {
  @media screen and (min-width: $laptop-width)/*  and (max-width: 1799px)  */{
    @content;
  }
}

@mixin about-laptops-max {
  @media screen and (min-width: $laptop-width) and (max-width: $about-laptops-max) {
    @content;
  }
}

@mixin desktops {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin footer-laptops {
  @media screen and (min-width: $footer-laptops) {
    @content;
  }
}

@mixin footer-laptops-max {
  @media screen and (max-width: $footer-laptops-max) {
    @content;
  }
}

@mixin about-tablets-max {
  @media screen and (min-width: 620px) and (max-width: $tablets-width-max) {
    @content;
  }
}
