.about {

  .about__split {
    display: flex;
  }
  
  &__left, &__right {
    width: 50%;
  }

  &__left {
    background: $triangle-beige;
    padding-top: 3px;

    &-wrapper {
      background-color: $triangle-beige;
      display: flex;
      margin-right: 19px;
  
      .about__left-title {
        margin-top: -95px;
        position: relative;
        width: 48%;
        height: 229px;
      }
  
      .about__left-content {
        width: 52%;
      }

      .about__left-block-title {
        padding-top: 71px;
        padding-left: 44px;
      }
    }
    
  }

  &__right {
    background: $triangle-brown;
    
    .about__right-title {
      width: 270px;
      margin: auto;
      position: relative;
      top: -7px;
    }

    .about__right-description {
      margin-bottom: 45px;
      padding: 0 40px;
      line-height: 24px;
    }

    .about__right-content {
      margin-bottom: 43px;
      padding: 0 40px;
    }
  }
}

.about__user-description {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15px;

  .user-description__image {
    width: 100%;
    margin-bottom: 32px;
  }

  .user-description__avatar {
    width: 100%;
    filter: grayscale(30%);
  }

  .user-description__text {
    line-height: 24px;
    p {
      padding-bottom: 10px;
    }
  }
}