.article {
  &__header {
    position: relative;
    top: -8px;
  }

  &__date {
    color: rgba(8, 60, 150, 0.7);
    margin-bottom: 18px;
    margin-left: 1px;
  }
  
  &__text {
    line-height: 26px;
    margin-left: 1px;
    
    p {
      margin-bottom: 9px;
    }
  }
}