.auth-footer {
  width: 446px;
  position: relative;
  bottom: 58px;
  margin: auto;
  
  .auth-footer__text {
    color: #fff;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
}