.auth-footer {
  position: relative;
  bottom: 58px;
  display: flex;
  justify-content: center;
  text-align: center;
}
  
.auth-footer__text {
  color: #fff;
  @include roboto-light;
}

.auth-footer__dev-name {
  display: block;

  @media screen and (min-width: 445px) {
    display: inline;
  }
}

.auth-footer__divider {
  visibility: hidden;

  @media screen and (min-width: 445px) {
    visibility: visible;
  }
}