.auth-button {
  width: 180px;
  height: 45px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  @include roboto-medium;

  &:hover {
    border: none;
    background: $blue;
  }

  &--hidden {
    display: none;
  }

}