.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img {
    width: 110vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    @media screen and (min-width: $desktop-width) {
      bottom: -60px;
    }
    
    @media screen and (min-width: $laptop-width) and (max-width: 1799px) {
      bottom: -30px;
    }
  }

  &__video {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
  }
}