.hero__user {
  width: 141px;
  margin: auto;
  z-index: 1;
}

.blog {
  display: flex;
  background: $triangle-blog;
  padding-top: 75px;
  justify-content: center;

  &__nav {
    display: none;

    @media screen and (min-width: 1800px) {
      width: 30%;
      display: block;
      margin-right: 117px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }

    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      width: 25%;
      display: block;
      margin-right: 77px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }

    .nav__link {
      text-decoration: none;
    }
  }

  &__main {
    width: 100%;

    @media screen and (min-width: 1800px) {
      width: 70%;
    }

    @media screen and (min-width: 1200px) and (max-width: 1799px) {
      width: 75%;
    }
  }

  &__articles {
    max-width: 880px;
    margin: 0 20px;

    
    @media screen and (min-width: 768px) {
      margin: auto;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 20px;
    }

    .blog__article {
      &:not(:first-child) {
        margin-top: 70px;
      }
      margin-bottom: 70px;
    }
  }

  .article-divider:not(:last-child) {
    width: 100%;
    height: 3px;
    background: rgba(55, 62, 66, 0.07);
  }
}