.contact-me {
  width: 300px;
  height: 422px;
  margin: auto;
  margin-bottom: 38px;
  background: rgba(255, 255, 255, .05);

  @include tablets {
    margin-bottom: 70px;
    width: 348px;
    height: 439px;
  }

  @include laptops {
    margin-bottom: 70px;
    width: 380px;
    height: 459px;
  }

  &__title {
    padding-top: 25px;
    padding-bottom: 20px !important;
    color: #fff;

    @include tablets {
      padding-top: 39px;
      padding-bottom: 21px !important;
    }

    @include laptops {
      padding-top: 37px;
      padding-bottom: 30px !important;
    }
  }

  &__fields {
    padding: 0 20px;
  }

  &__field {
    font-family: 'Roboto';
    width: 100%;
    color: rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, .07);
    border: none;
    margin-bottom: 20px;
    padding: 16px 19px;

    @include tablets {
      padding: 16px 19px;
    }

    @include laptops {
      padding: 16px 17px;
    }
  }

  &__name, &__email {
    height: 40px;

    @include tablets {
      height: 45px;
    }

    @include laptops {
      height: 45px;
    }
  }

  &__message {
    height: 140px;
    resize: none;
    margin-bottom: 16px;

    @include tablets {
      height: 129px;
      margin-bottom: 16px;
    }

    @include laptops {
      height: 130px;
      margin-bottom: 14px;
    }
  }
}