.header-svg {

  &--about {
    position: absolute;
    top: 28px;
    left: -4px;
    opacity: 0.1;
  }

  &--works {
    margin: auto;
    opacity: 0.15;
    position: relative;
    top: -21px;
  }
  
  width: 289px;
  height: 186px;
  transform: rotate(189deg);
}