h1.block-title {
  font-family: 'Sansus Webissimo';
  text-align: center;
  padding: 70px 0;
  font-size: 35px;
  text-transform: uppercase;

  @include tablets {
    font-size: 49px;
  }

  @include laptops {
    font-size: 63px;
  }

  &--works {
    color: #fff;
    position: relative;
    top: -228px;
    padding-top: 71px;
  }
}

h2.block-subtitle {
  font-family: 'Sansus Webissimo';
  text-align: center;
  padding-bottom: 25px;
  font-size: 35px; 
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  line-height: 41px;

  &--article {
    text-align: left;
    margin-bottom: 14px;
    padding-bottom: 0;
    text-transform: none;
    font-size: 21px;
    line-height: 28px;

    @include tablets {
      font-size: 30px;
      line-height: 36px;
    }

    @include laptops {
      line-height: 41px;
      font-size: 35px;
      margin-bottom: 21px;
    }
  }

  &:not(.block-subtitle--article) {
    &:after {
      content : "";
      display: block;
      margin: 0 auto;
      padding-top: 10px; 
      height: 3px;
      width: 56px; 
      border-bottom: 3px solid #98999c;

      @include about-tablets-max {
        padding-top: 15px; 
        width: 89px; 
      }

      @include tablets {
        padding-top: 15px; 
        width: 89px; 
      }

      @include laptops {
        padding-top: 15px; 
        width: 89px; 
      }
    }
  }

  &--works {
    padding-bottom: 23px;

    &:after {
      padding-top: 18px !important;
    }
  }

  &--about-left {
    padding-bottom: 15px;
    font-size: 21px;

    @include about-tablets-max {
      font-size: 30px;
      padding-bottom: 12px;
    }

    @include about-laptops-max {
      font-size: 35px;
      padding-bottom: 24px;
    }

    @include tablets {
      font-size: 30px;
      padding-bottom: 12px;
    }

    @media screen and (min-width: 1651px) {
      padding-bottom: 26px;
    }

    &:after {
      padding-top: 4px !important;

      @include about-tablets-max {
        padding-top: 7px !important;
      }

      @include tablets {
        padding-top: 7px !important;
      }

      @include laptops {
        padding-top: 19px !important;
      }
    }
  }

  &--about-right {
    padding-bottom: 12px;
    font-size: 21px;
    line-height: 28px;

    @include about-tablets-max {
      font-size: 30px;
      padding-bottom: 6px;
    }

    @include about-tablets-max {
      font-size: 30px;
      padding-bottom: 6px;
      line-height: 36px;
    }

    @include tablets {
      font-size: 30px;
      padding-bottom: 6px;
      line-height: 36px;
    }

    @include laptops {
      font-size: 35px;
      line-height: 41px;
      padding-bottom: 18px;
    }

    @include desktops {
      padding-bottom: 17px;
    }

    &:after {
      @include laptops {
        padding-top: 19px !important;
      }
      
      @include about-laptops-max {
        padding-top: 20px! important;
      }
      
      @include about-tablets-max {
        padding-top: 11px !important;
      }

      @include tablets {
        padding-top: 11px !important;
      }
    }

  }

  &--map-contacts {
    padding-bottom: 18px;
    font-size: 35px;

    @include about-tablets-max {
      font-size: 30px;
      padding-bottom: 21px;

      &:after {
        padding-top: 7px !important;
      }
    }

    @include tablets {
      font-size: 30px;
      padding-bottom: 21px;

      &:after {
        padding-top: 7px !important;
      }
    }

    @include laptops {
      font-size: 35px;
      padding-bottom: 30px;

      &:after {
        padding-top: 19px !important;
      }
    }
  }

  &--contact {
    &:after {
      border-bottom: 3px solid rgba(255, 255, 255, .5) !important;
      padding-top: 19px !important; 
    }
  }
}

.block-subtitle__sub-text {
  display: inline;

  @media screen and (max-width: 491px) {
    display: block;
  }
}