.header-svg {
  width: 289px;
  height: 186px;
  transform: rotate(189deg);

  &--about {
    display: none;
    position: absolute;
    opacity: 0.1;

    @include tablets {
      display: block;
      height: 133px;
      left: calc(50% - 101.5px);
      top: 44px;
      width: 179px;
    }
    
    @include about-laptops-max {
      display: block;
      height: 133px;
      left: calc(50% - 94.5px);
      width: 179px;
      top: 60px;
    }

    @media screen and (min-width: 1651px) {
      display: block;
      top: 24px;
      left: 70px;
    }
  }

  &--works {
    margin: auto;
    opacity: 0.15;
    position: relative;
    top: -5px;
    left: -6px;
    width: 119px;
    height: 93px;

    @include tablets {
      top: -14px;
      left: -7px;
      width: 154px;
      height: 141px;
    }

    @include laptops {
      top: -21px;
      left: -20px;
      width: 289px;
      height: 186px;
    }
  }
}