.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  &:not(&--works) {
    background: url(assets/images/bg-phone.jpg) top no-repeat;
    background-size: 100vw 118vh;

    @media screen and (min-width: 426px) and (max-width: 850px) {
      background: url(assets/images/bg-tablet.jpg) top no-repeat;
      background-size: 100vw 118vh;
    }

    @media screen and (min-width: 851px) and (max-width: 1400px) {
      background: url(assets/images/bg-1200.jpg) top no-repeat;
      background-size: 100vw 118vh;
    }

    @media screen and (min-width: 1401px) {
      background: url(assets/images/bg-1800.jpg) top no-repeat;
      background-size: 100vw 118vh;
    }

    background-size: 100vw 118vh;
    z-index: 0;
  }

  &__triangle {
    z-index: -1;
  }

  &__top {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 15px;

    @media screen and (min-width: 425px) {
      padding-left: 30px;
      padding-right: 30px;
      top: 28px;
    }
  }

  &__links {
    z-index: 3;

    .socials__icon {
      fill: #fff;

      &:hover {
        fill: #004cd1;
      }
    }
  }

  &__menu {
    width: 27px;
    right: 20px;
    z-index: 5;

    @media screen and (min-width: 425px) {
      width: 40px;
      right: 30px;
    }
  }

  &__title {
    display: flex;
    height: 460px;
    margin: auto;
    align-items: center;
    position: relative;

    &--blog {
      height: calc(100vh - 107px);

      @include tablets {
        height: calc(100vh - 49px);
      }

      @include laptops {
        height: calc(100vh - -9px);
      }
    }

    &--works {
      height: calc(100vh - 61px);

      @include tablets {
        height: calc(100vh - 61px);
      }

      @include laptops {
        height: calc(100vh - 91px);
      }
    }

    &--about {
      height: calc(100vh - 91px);

      @include about-laptops-max {
        height: calc(100vh - 87px);
      }
    }

    &-header {
      color: #fff;
      width: 100%;
      padding: 0 !important;
      line-height: 1.33;
    }

    .hero__title-svg-container {
      width: 281px;
      height: 169px;
      position: absolute;
      top: calc(50% - 130.5px);
      left: calc(50% - 145px);

      &--about {
        top: calc(50% - 138.5px);
      }

      @include tablets {
        left: calc(50% - 147px);

        &--about {
          top: calc(50% - 115.5px);
        }
      }



      @media screen and (min-width: 1040px) {
        width: 459px;
        height: 271px;
        top: calc(50% - 145px);
        left: calc(50% - 253px);
      }

      &--works {
        top: calc(50% - 127px);

        @include tablets {
          top: calc(50% - 127px);
        }

        @include laptops {
          top: calc(50% - 147px);
        }
      }
    }
  }

  &__user {
    z-index: 1;
    display: flex;
    margin: auto;
    width: 285px;
    justify-content: center;

    .user__name {

      @include tablets {
        font-size: 35px;
      }

      @include laptops {
        font-size: 35px;
      }

      @include desktops {
        font-size: 35px;
      }
    }

    .hero__description {
      margin-top: 11px;
      position: relative;

      @include tablets-max {
        top: -5px;
      }

      @include tablets {
        top: 4px;
      }
      
      @include laptops {
        top: 0;
      }
    }

    &--blog {
      padding-top: 16px;
    }

    &--works {
      height: 269px;

      @include tablets {
        height: 221px;
      }

      @include laptops {
        height: 221px;
      }

      .user__name {
        margin-bottom: 1px;
        margin-top: 23px;

        @include tablets {
          margin-bottom: 1px;
          margin-top: 23px;
        }

        @include laptops {
          margin-bottom: 1px;
          margin-top: 22px;
        }
      }

      .user__avatar {
        margin-bottom: 28px;

        @include tablets {
          margin-bottom: 24px;
        }

        @include laptops {
          margin-bottom: 27px;
        }
      }
    }

    &--about {
      height: 237px;

      @include tablets {
        height: 190px;
      }

      @include laptops {
        height: 221px;
      }

      .user__name {
        margin-bottom: 0;
        margin-top: 23px;

        @include tablets {
          margin-bottom: 1px;
        }

        @include laptops {
          margin-bottom: 1px;
        }

        @include desktops {
          margin-bottom: 1px;
          margin-top: 22px;
        }
      }
    }
  }

  .hero__down-btn {
    z-index: 2;
    position: absolute;
    bottom: 89px;
    left: calc(50% - 12.5px);

    &--about {
      bottom: 54px;

      @include tablets {
        bottom: 56px;
      }

      @include laptops {
        bottom: 88px;
      }

      @include about-laptops-max {
        bottom: 82px;
      }
    }

    &--works {
      bottom: 55px;
      
      @include tablets {
        bottom: 55px;
      }

      @include laptops {
        bottom: 89px;
      }
    }
    
    &--blog {
      display: none;
      @media screen and (min-width: 426px) and (max-width: 1039px){
        display: block;
        bottom: 48px;
      }
    }
  }

  .hero__triangle {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}


