.login {
  transform: rotateY(180deg);
  transition: 0.6s;
  &.rotate {
    transform: none;
    transition: 0.6s;
  }
  width: 380px !important;
  height: 407px !important;
  padding-top: 29px !important;

  &__title {
    text-transform: uppercase;
    font-family: 'Sansus Webissimo';
    font-size: 35px;
    margin-bottom: 29px;
  }

  &__inputs {
    padding: 0 21px;

    .login__input-container {
      display: inline-flex;
      margin: auto;
      margin-bottom: 20px;
      width: 100%;


      .login__icon-container {
        width: 45px;
        height: 45px;
        background: #f0efe9;
        display: flex;

        .login__icon {
          width: 17px;
          height: 17px;
          fill: #c4cbcd;
          margin: auto;

          &--login {
            width: 15.5px;
            height: 15.5px;
          }
        }
      }

      .login__input {
        color: #373e42;
        padding: 0 19px;
        outline: none;
        ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
          color: #373e42;
          opacity: .5;
        }
        border: none;
        font-size: 16px;
        font-family: 'Roboto';
        width: calc(100% - 45px);
      }
    }
  }

  &__confirm-label {
    cursor: pointer;
    display: inline-flex;

    &--first {
      margin-right: 39px;
    }
  }

  &__confirm-not-robot {
    height: 125px;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__confirm-icon-container {
    margin-right: 10px;
  }

  &__confirm-text {
    margin-top: 11px;
    margin-bottom: 4px;
    font-weight: 700;
  }

  &__confirm-input {
    display: none;
  }

  &__confirm-input:checked + &__confirm-icon-container {
    background: $light-blue;
    transition: background 0.3s;
  }


  &__confirm-icon-container {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    transition: background 0.3s;

    &--circle {
      border-radius: 50%;
      border: 5.5px solid #fff;
    }

    &--yes {
      margin-left: 2px;
    }

    .login__icon {
      width: 11px;
      height: 11px;
      fill: #fff;

      &--checkbox {
        position: absolute;
        left: 5px;
        top: 4px;
      }
    }
  }
}