.map {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include from-tablets {
    position: relative;
    flex-flow: row wrap;
    align-items: center;
  }

  #google-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 298px;
    left: 0;
    bottom: 0;
    right: 0;

    @media screen and (min-width: 620px) {
      top: 208px;
    }

    @include from-tablets {
      top: 0;
    }
  }
}
