.mentions {
  width: 100%;

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 780px;
    margin: auto;
  }
  
  &__item {
    color: #fff;
    width: 380px;
    text-align: center;
    font-style: italic;
    margin-bottom: 67px;
    position: relative;

    &:nth-child(2n+1) {
      margin-right: 20px;
    }

    .mentions__bg-pic {
      position: absolute;
      top: 71px;
      left: 2px;
    }

    .mentions__icon {
      margin-bottom: 11px;
      height: 83px;
    }

    .mentions__quote {
      text-align: left;
      font-weight: 300;
      width: 100%;
      margin: 0;
      line-height: 26px;
      margin-bottom: 18px;
    }

    .mentions__author {
      margin-bottom: 2px;
    }
  }
}