.nav {
  width: 280px;

  .nav__item {
    padding: 8px 17px;

    &--active {
      border-right: 3px solid $light-blue;
      font-weight: 700;
      
      .nav__link {
        color: $blue;
      }
    }
    
    .nav__link {
      display: block;
      height: 100%;
      width: 100%;
      color: #455a64;
      line-height: 26px;
      
    }

  }

  &--blog {
    position: relative;
    top: -6px;

    .nav__item {
      padding: 9px 17px 7px 12px ;
      margin-bottom: 10px;

      &:not(.nav__item--active) {
        padding: 9px 20px 7px 12px;
      }
    }
  }
}