.skill {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0;
  
  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }
  
  &__circle {
    fill: transparent;
    stroke: #dfdcd5;
    stroke-width: 15px;
  }
  
  &__circle_above {
    stroke: #1056d1;
    stroke-dasharray: 251; // расстояние между линиями
    // stroke-dashoffset: 55; // смещение чтбы выглядело не заполненно 251 - круг полностью голый
  }

  &__title {
    color: #243994;
    text-align: center;
    font-size: 13.96px;
    @include roboto-medium;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}