.slider {
  display: flex;
  flex-flow: column nowrap;
  min-height: 750px;
  width: 100%;

  .slider__main-slide {
    height: 70%;
    margin: auto;

    .works-preview__img {
      height: 100%;
      width: 100%;
      margin: auto;
    }
  }

  .slider__thumbnails {
    height: 30%;
    display: flex;
    width: 100%;

    .slider__thumbmail {
      width: 50%;
      position: relative;

      .slider__thumbnail-img {
        width: 100%;
        height: 100%;
        
        // &--prev {
        //   background: url('./assets/images/preview-prev.jpg') no-repeat;
        // }
        // &--next {
        //   background: url('./assets/images/preview-next.jpg') no-repeat;
        // }
      }

      .slider__thumbnail-img:hover + .slider__nav-btn--prev {
        top: 55%;
        transition: top .5s;
      }

      .slider__thumbnail-img:hover + .slider__nav-btn--next {
        top: 35%;
        transition: top .5s;
      }

      .slider__nav-btn {
        position: absolute;
        top: calc(50% - 13.5px);
        left: calc(50% - 21.5px);
        transition: top .5s;

        .slider__nav-icon {
          width: 43px;
          height: 27px;
          fill: $arrow-down-hover;

          &--next {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

// @mixin tablets {
//   @media screen and (max-width: 768px) {
//     @content;
//   }
// }

// .slider {
//   height: 100vh;
//   min-height: 650px;
//   // background: #000;
//   display: grid;
//   grid-template: 
//     "info display" 70%
//     "info buttons" 30%
//     / 1fr 1fr;

//   @include tablets {
//     grid-template: 
//     "display" 400px
//     "info" 300px
//     "buttons" 200px
//     / 1fr;
//   }
// }

// .slider__info-container {
//   grid-area: info;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .slider__info-skills {
//   border-top: 1px solid #00bfa5;
//   border-bottom: 1px solid #00bfa5;
//   padding: 15px 0;
//   color: #00bfa5;
//   text-transform: uppercase;
//   text-align: center;
// }

// .slider__display {
//   grid-area: display;
//   background: #efebe0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .slider__buttons {
//   grid-area: buttons;
//   display: flex;
// }

// .slider__button { 
//   width: 50%;
//   cursor: pointer;
//   position: relative;
//   user-select: none;
//   transition: .5s;

//   &:hover {
//     opacity: .7;
//   }

//   &:before {
//     content: "";
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: rgba('#000', .5);
//     z-index: 10;
//   }

//   &:after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50% -50%);
//     width: 44px;
//     height: 29px;
//     background: svg-load('portf_arrow_down.svg', fill=#ffffff) center center no-repeat / contain;
//     z-index: 20;
//   }

//   &--next {
//     &:after {
//       // transform:  translate(-50% -50%) rotate(-180deg);
//       background: svg-load('portf_arrow_up.svg', fill=#ffffff) center center no-repeat / contain;
//     }
//   }
// }

// .slider__big-pic {
//   display: block;
//   max-width: 90%;
//   max-height: 90%;
// }

// .slider__button-img-wrap {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .slider__button-pic {
//   display: block;
//   max-width: 90%;
//   max-height: 90%;
// }