.socials {
  width: 140px;
  margin: auto;

  &__list {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }

  &__icon {
    width: 30px;
    height: 22px;
    fill: $blue;
    cursor: pointer;
    font-size: 22px;

    &:hover {
      fill: $light-blue;
    }
  }
  
  &--header {
    width: 129px;
    
    .socials__icon {
      width: 25px;
      height: 17px;
    }

    @media screen and (min-width: 425px) {
      width: 140px;

      .socials__icon {
        width: 30px;
        height: 22px;
      }
    }

  }
}