.triangle {
  display: block;
  
  &__left_beige {
    fill: $triangle-beige;
  }
  
  &__right_brown {
    fill: $triangle-beige;

    @include about-laptops-max {
      fill: #f4f5f0;
    }
    
    @media screen and (min-width: 1651px) {
      fill: $triangle-brown;
    }
  }

  &--blog {
    fill: $triangle-blog;
  }

  &--works {
    fill: $triangle-works;
  }
}
