.triangle {
  display: block;
  
  &__left_beige {
    fill: $triangle-beige;
  }
  
  &__right_brown {
    fill: $triangle-brown;
  }

  &--blog {
    fill: $triangle-blog;
  }

  &--works {
    fill: $triangle-works;
  }
}
