.user {

  &__avatar {
    margin: auto;
    width: 141px;
    height: 141px;
    margin-bottom: 27px;

    @include tablets {
      margin-bottom: 0;
    }

    @include laptops {
      margin-bottom: 24px;
    }

    @include desktops {
      margin-bottom: 22px;
    }
  }

  &__description {
    color: #fff;
    text-align: center;
  }
  
  &__name {
    @include roboto-medium;
    margin-top: 11px;
    margin-bottom: 3px;
    font-size: 21px;
    line-height: 28px;

    @media screen and (min-width: $mobile-width) {
      font-size: 28px;
      line-height: 41px;
    }
  }

  &__info {
    line-height: 24px;
    position: relative;

    @include tablets-max {
      top: 4px;
    }

    @include tablets {
      font-size: 16px;
    }

    @include laptops {
      top: -1px;
      top: 0;
    }
  }
}