.auth-block {
  width: 180px;
  position: absolute;
  top: 24px;
  height: 45px;
  
  @media screen and (min-width: 1800px) {
    right: 100px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1799px) {
    right: 20px;
  }
}

.welcome-wrapper {
  display: flex;
  height: 100vh;
  z-index: 1;

  .welcome {
    z-index: 1;
    height: 395px;
    width: 380px;
    margin: auto;
    background: rgba(28, 31, 41, 0.5);
    padding-top: 40px;
    color: #fff;
    text-align: center;

    &__socials {
      margin-top: 32px;
      margin-bottom: 34px;
    }
  }
}