body.welcome--no-overflow {
  overflow: hidden;
}

.welcome-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;

  background: url('./assets/images/welcome-bg-iphone.jpg') no-repeat;
  background-size: cover;

  @media screen and (min-width: 425px){
    background: url('./assets/images/welcome-bg-ipad.jpg') no-repeat;
    background-size: cover;
    background-position-y: center;
  }

  @include laptops {
    background: none;
  }

  .welcome-turner {
    width: 95%;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    transition: transform 0.8s;

    
    @include laptops {
      width: 380px;
    }

    @media screen and (min-width: $mobile-width) and (max-width: 1199px) {
      width: 348px;
    }

    &--welcome {
      height: 404px;
    }

    &--login {
      height: 405px;
    }

    &.rotate {
      transform: rotateY(180deg);
    }
  }

  .welcome {
    transform: rotateY(0deg);

    .user__name {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .welcome, .login {
    position: absolute;
    backface-visibility: hidden;
    height: 395px;
    width: 100%;
    background: rgba(28, 31, 41, 0.5);
    padding-top: 40px;
    color: #fff;
    text-align: center;

    &__socials {
      margin-top: 32px;
      margin-bottom: 34px;
    }
  }
}