.works-background {
  width: 100%;
  // height: calc(100vh + 172px);
  height: 138vh;
  position: absolute;
  top: 0;
  z-index: -1;

  background: url(assets/images/bg-phone.jpg) top no-repeat;
  background-size: 100vw 100%;

    @include tablets {
      background: url(assets/images/bg-1200.jpg) top no-repeat;
      background-size: 100vw 100%;
    }
    
    @media screen and (min-width: 426px) and (max-width: 850px) {
      background: url(assets/images/bg-tablet.jpg) top no-repeat;
      background-size: 100vw 100%;
    }

    @include laptops {
      background: url(assets/images/bg-1800.jpg) top no-repeat;
      background-size: 100vw 100%;
    }
}

.works-title {
  width: 100%;
  background: $triangle-works;
  height: 91px;

  @include tablets {
    height: 128px;
  }

  @include laptops {
    height: 172px;
  }

  @include desktops {
    height: 166px;
  }
}

.works-scroll-top-btn {
  margin-bottom: 41px;
}