.works-background {
  width: 100%;
  height: calc(100vh + 172px);
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;

  background: url(assets/images/bg-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 426px) {
      background: url(assets/images/bg-tablet.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }
    @include laptops {
      background: url(assets/images/about-header-1800.jpg) no-repeat;
      background-size: cover;
    }
}

.works-title {
  width: 100%;
  background: $triangle-works;
  height: 91px;

  @include tablets {
    height: 128px;
  }

  @include laptops {
    height: 172px;
  }

  @include desktops {
    height: 166px;
  }
}

.works-scroll-top-btn {
  margin-bottom: 41px;
}