include ./modules/preloader.pug
include ./modules/skills.pug
include ./modules/slider.pug
include ./modules/anchor-btn.pug
include ./modules/contact-me.pug
include ./modules/message.pug
include ./modules/google-map.pug